.root {

-fx-background: #F0FFFF;
}

.button{
    -fx-background-color: #00CED1;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-align: center;
}

#cancelButton{
    -fx-background-color: #CD5C5C;
}

#cancelButton:hover{
    -fx-background-color: #FF4500;
}

.button:hover {
     -fx-background-color: #6495ED;
 }

.list-view .list-cell:even {
    -fx-background-color: #F0F8FF;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
.list-view .list-cell:odd {
    -fx-background-color: #B0E0E6;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
.list-view .list-cell:hover {
    -fx-background-color: #66CDAA;

}
#textArea .content {
    -fx-background-color: #F0FFFF;

}

#textArea {
 -fx-font-size: 12px;

}

#smilesBox {
    -fx-background-color: #FFFACD;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

#smilesBox : hover {
    -fx-background-color: #00FFFF;
}

.menu-bar {
    -fx-background-color: #87CEFA;
}
.menu-bar .label {
    -fx-font-size: 12.0 pt;

}

.menu-item {
    -fx-background: #4682B4;
}
